extends details
- var modeExamen = false

block headDetails
    if modeExamen
        script(type='text/javascript', src='javascripts/quizQuestionExamen.js')
    else
        script(type='text/javascript', src='javascripts/quizQuestionRapide.js')


block navDetails
    ul
        li
          a(href='/') Accueil
        li
          a(href='/tableau') Tableau de bord
        li
          a(href='/regles') Règles

block contentDetails
    section.question
        form
            if modeExamen
                h1(data-theme='#{question.domaine}') Question #{noQuestion}/#{nbQuestions}
                input(type='hidden', name='type', value='examen')
            else
                h1(data-theme='#{question.domaine}') Question #{noQuestion}
            input(type='hidden', name='type', value='rapide')
            div
                p #{question.question}

                each reponse in question.reponses
                    label.reponses
                        input(type='radio', name='reponse', value=reponse.id)
                        | #{reponse.reponse}

            nav
                if modeExamen
                    a.button(href='congra') Abandon
                else
                    a.button(href='tableau') Retour au tableau de bord
                button(type='submit') Corriger
                button(class='questionSuivante', type='button') Suivant