extends details
- var modeExamen = false

block headDetails

block navDetails
    ul
        li
          a(href='/') Accueil
        li
          a(href='/tableau') Tableau de bord
        li
          a(href='/regles') Règles

block contentDetails
    section.question
      form
        if modeExamen
          h1(data-theme='#{question.domaine}') Question #{noQuestion}/#{nbQuestions}
        else
          h1(data-theme='#{question.domaine}') Question #{noQuestion}
        div
            p #{question.question}
          nav
            if modeExamen
              a.button(href='congra') Abandon
            else
              a.button(href='tableau') Retour au tableau de bord
            button(type='submit') Corriger